{% extends 'blog/base.html' %}


{% block content %}



<div>
    <form class="d-flex my-5" method="get" action="{% url 'post_draft_list' %}">
        <input class="form-control me-2 searchBlog" type="search" placeholder="Search" aria-label="Search" name="query"
            id="query">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>


{% for post in page_obj%}
<article class="post">
    <time class="date">
        created: {{ post.created_date|date:'d-m-Y' }}
    </time>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        <span class="badge rounded-pill bg-success">{{post.get_category_values}}</span>
    </h2>
    <p>{{ post.text|truncatechars:200 }}</p>
</article>
{% endfor %}

<div class="pagination">
    <span class="step-links">

        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}