{% extends 'blog/base.html' %}

{% block content %}
<div style="float:left;">
    <a href="{% url 'post_list' %}" class="btn btn-success" style="text-decoration: none;">
        HomePage
    </a>
</div>
<div style="float:right">
    <form class="d-flex" method="get" action="{% url 'post_draft_list' %}">
        <input class="form-control me-2 searchBlog" type="search" placeholder="Search" aria-label="Search" name="query"
            id="query" style="width:75%">
        <button class="btn btn-outline-success ml-1" type="submit">Search</button>
    </form>
</div>

<div style="margin-top:100px;"></div>

{% if page_obj %}
{% for post in page_obj%}
<div style="opacity:0.8">
    <b>Author:{{post.author}}</b>
</div>
<article class="post">
    <time class="date">
        created: {{ post.created_date|date:'d-m-Y' }}
    </time>
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
    </h1>
    {% for cat in post.category.all %}
    <h5><span class="badge bg-primary text-light">{{cat}}</span></h5>
    {% endfor %}
    <p>{{ post.text|truncatechars:200 }}</p>
</article>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}

<p>No Search results found</p>
Your search : <b>{{ query }}</b> - did not match any document
<br>
Try some other keywords
{% endif %}
{% endblock %}