{% extends 'blog/base.html'%}

{% block content %}

<h2>Search Results:</h2>

{% if posts|length < 1 %} <p>No Search results found</p>

    Your search : <b>{{ query }}</b> - did not match any document
    {% endif %}
    {% for post in posts%}
    <article class="post">
        <time class="date">
            {{ post.published_date }}
        </time>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>

        </h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}


    {% endblock %}